<img class="flag-icon flag-icon--big" src="{{flags/svg}}" alt="{{name.official}}">
<h2>{{name.official}}</h2>
<p><span class="title">Capital: </span>{{capital}}</p>
<p><span class="title">Population: </span>{{population}}</p>
<p><span class="title">Languages: </span>{{#each languages}}{{this}} {{/each}}</p>